body {
  width: 100%;
}


h1 {
  font-family: 'Raleway';
  font-weight: bold;
  text-align: center;
  /*padding-left: 50px;*/
  font-size: 50pt;
  color: #302825;
  margin-top: 10px;
}

/* PAGES
-------------------------------------------------*/
#main-page {
  height: 50px;
  width: 375px;
  position: absolute;
  top: 0; bottom: 0; left: 0; right: 0;
  margin: auto;
  background-image: url('/images/bgg.png');
  display: none;
}

#next-page {
  height: 25px;
  width: 375px;
  position: absolute;
  top: 0; bottom: 0; left: 0; right: 0;
  margin: auto;
  background-image: url('/images/bgg.png');
  display: none;
}

#second-page {
  height: 25px;
  width: 375px;
  position: absolute;
  top: 0; bottom: 0; left: 0; right: 0;
  margin: auto;
  background-image: url('/images/bgg.png');
  display: none;
}

.maincontent, .nextcontent, .secondcontent {
  padding-top: 100px;
  display: none;
}

a.back{
  font-family: 'Lato';
  font-size: 20px;
  color: #dfdfdf;
  text-decoration: none;
  text-align: center;
  width: 20%;
  margin: 25px auto 30px auto;
  display: block;
}

a.mainlink, a.nextlink, a.secondlink{
  font-family: 'Verdana';
  color: black;
  border: 1px solid black;
  padding: 15px 10px;
  display: block;
  text-align: center;
/*  margin: 25px auto;*/
  width: 13%;
  text-decoration: none;
  cursor: pointer;
  font-size: 17px;
  font-weight: bold;
}

a.mainlink:hover, a.nextlink:hover, a.secondlink:hover{
  background: #fff;
  color: #575757;
} 

h2 {
  text-align: center;
  font-weight: bold;
}